 body {
  background: url("https://preview.redd.it/vcalvtkj89191.jpg?auto=webp&s=5d014520616d4d620b40a3d4c0e5d9c19f756a15");
  padding: 1rem;
  margin-top: 3rem;
 }

 .container {
  width: 400px;
  height: 600px;
  background-color: rgb(254, 254, 254);
  padding: 5px;
  box-sizing: border-box;
  flex-direction: column;
 }

 p, a {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
 }

 main h2 {
  font-weight: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
 }

 .uppercase {
  text-transform: uppercase
 }

 .bob {
  width: 205px;
  height: 205px;
  border-radius: 100%;
  border: 2px solid white;
 }

 .bio {
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
 }

 

 .socialmedia {
  display: flex;
  justify-content: center;
 }

 .buttons {
  display:flex;
  flex-direction: column;
}
